<section class="flex flex-col p-4 bg-[#e3e3e3] py-20  w-screen">

	<article
		class="flex flex-grow flex-row items-center justify-center lg:gap-20"
	>
		<h1 class="text-lg font-black w-1/2">
			{"Desde mis primeros pasos en el mundo de la tecnología, he demostrado una dedicación excepcional para dominar una amplia gama de tecnologías tanto en el front-end como en el back-end. Mi trayectoria me ha brindado una perspectiva única y una habilidad excepcional para resolver problemas de manera creativa. Siempre estoy en búsqueda de nuevos desafíos y oportunidades para crecer profesionalmente."}
		</h1>
		<img src="/linux.svg" height="300" width="300" />
	</article>
</section>
<style>
	.title-principal {
		font-size: 30px;
		background: linear-gradient(to right, white, blue);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}
</style>
