<section class="flex flex-col p-4 bg-[#c3c3c3] py-20 w-screen">
	<article class="flex flex-grow flex-col items-center justify-center gap-4">
		<h1 class="text-lg font-black">
			{"Stack"}
		</h1>
		<div class="grid grid-cols-5 gap-4">
			<img src="/react.svg" height="40" width="40" />
			<img src="/typescript.svg" height="40" width="40" />
			<img src="/nextjs.svg" height="40" width="40" />
			<img src="/apollo.svg" height="40" width="40" />
			<img src="/java.svg" height="40" width="40" />
			<img src="/docker.svg" height="40" width="40" />
			<img src="/js.svg" height="40" width="40" />
			<img src="/nestjs.svg" height="40" width="40" />
			<img src="/python.svg" height="40" width="40" />
			<img src="/spring.png" height="40" width="40" />
			<img src="/graphql.svg" height="40" width="40" />
			<img src="/kotlin.svg" height="40" width="40" />
		</div>
	</article>
</section>
